div#distributiveLawExercise {
    display: none;
}

div#exerciseArea {
    width: 60rem;
    margin: 7.5rem 0 0 7.5rem;
    float: left;
}

div#exerciseArea p#exerciseDefinition {
    margin: 0;
}

div#exerciseProgress {
    margin-top: 7.5rem;
    margin-right: 17.5rem;

    width: 15rem;
    height: 2.5rem;

    float: right;
}

div#exerciseProgress p {
    float: left;
    margin: 0 0 1rem 0;
}

div#exerciseProgress div#progress {
    width: 60%;
    height: 1rem;
    border-radius: 0.5rem 0 0 0.5rem;
    background-color: #00e600;

    float: left;
}

div#exerciseProgress div#rest {
    width: 40%;
    height: 1rem;
    border-radius: 0 0.5rem 0.5rem 0;
    background-color: #666666;

    float: left;
}