div#homeNavigation {
    margin: 11rem 0 0 22.5rem;
    width: 225px;
}

div#homeNavigation ul {
    width: 100%;
}

div#homeNavigation ul li {
    margin: 1rem;
}

div#homeNavigation ul li a {
    display: block;
    text-align: center;
}