html, body {
    margin: 0;
    padding: 0;

    background-color: #333333;

    height: 100%;
    width: 100%;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

a {
    font-family: "IBM Plex Mono", sans-serif;
    font-size: 1.75rem;
    color: #ffffff;

    text-decoration: underline;
}

a:hover {
    opacity: 0.7;
    cursor: pointer;
}

a.button {
    padding: 0.75rem;
    text-decoration: none;
    background-color: #666666;
    height: 2.5rem;
    text-align: center;
    align-content: center;
    display: grid;

    border-radius: 5px;
}

a.button:hover {
    background-color: #3366ff;
    opacity: 1;
}

input.textField {
    background-color: #666666;
    border-radius: 0.5rem;
    border: none;
    color: #ffffff;
}

input.textField:focus-visible {
    outline-color: #3366ff;
}

p {
    font-family: "IBM Plex Mono", sans-serif;
    font-size: 1.75rem;
    color: #ffffff;
}

p.headline {
    font-size: 2.25rem;
}

span.mathStyle {
    font-family: "Aref Ruqaa", sans-serif;
    font-size: 2rem;
}

h1 {
    font-family: "IBM Plex Mono", sans-serif;
    font-size: 3.5rem;
    color: #ffffff;
}

section {
    top: 0;
    position: fixed;

    height: 100%;
    width: 100%;
}

div.section {
    padding-top: 10rem;
    height: 100%;
    width: 100%;
}

div.backNavigation {
    margin: 5rem 2.5rem 2.5rem 7.5rem;
    float: left;
}

div.backNavigation a {
    height: 5rem;
    width: 5rem;
    display: inline-block;
}

div.backNavigation a:after {
    padding: 0 0.3rem;
    position: absolute;

    font: normal normal normal 5rem/1 FontAwesome;
    color: white;

    pointer-events: none;
    content: '\f060';
}

div#onSiteNavigation {
    margin: 10rem 0 0 7.5rem;
    width: 24rem;

    float: left;
}

div#onSiteNavigation ul {
    width: 100%;
}

div#onSiteNavigation ul li {
    margin: 1rem;
}