div#explanation {
    float: left;
    margin-left: 25rem;
    margin-top: 5rem;
    width: 70rem;
}

p.explanationText {
    margin-bottom: 0;
    width: 100%;
    float: left;
}

div#explanation div.leftSide {
    float: left;
    width: 25rem;
}

div#explanation div.rightSide {
    float: left;
    margin-left: 10rem;
}