div#explanation {
    float: left;
    margin-left: 25rem;
    margin-top: 5rem;
    width: 115rem;
}

div.explanationText {
    margin-bottom: 0;
    width: 50rem;
    float: left;
    line-height: 1.8;
}

div.explanationText p {
    margin: 0;
    float: left;
    line-height: 1.8;
    font-family: "IBM Plex Sans", sans-serif;
}

div.explanationText p.headline {
    margin-top: 2.5rem;
    font-family: "IBM Plex Mono", sans-serif;
}

div.explanationExample {
    margin-bottom: 0;
    width: 60rem;
    float: left;
    line-height: 1.8;
    margin-left: 5rem;
}

div.explanationExample p {
    margin: 0;
    font-family: "IBM Plex Sans", sans-serif;
}

div.explanationExample p.headline {
    margin-top: 2.5rem;
    float: left;
    width: 100%;
}

div#explanation div.leftSide {
    float: left;
    width: 25rem;
}

div#explanation div.rightSide {
    float: left;
    margin-left: 10rem;
}